#entry-form {
  padding: 12px 24px;

  padding-top: 40px;
  width: 100%;
  background: #e2e7fe14;
}

#entry-form .data-input-field {
  margin: 0 1%;
}

#entry-form .button-wrapper {
  padding: 18px 12px;
}

#sync-status-message-wrapper {
  margin-top: 32px;
  color: #3f51b5;
  background: #fafafb;
}

#sync-status-message {
  /* color: #98a1c1;
  background: #fbfbfb; */
  font-size: 18px;
  font-weight: 500;
  padding-left: 24px;
  height: 68px;
  display: flex;
  align-items: center;
}

.status-spinner-wrapper {
  margin-right: 20px;
}
